<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohclinic.mapper.PatientMapper">

<resultMap type="Patient" id="patientMap">
    <id property="no" column="NO" />
    <result property="name" column="NAME" />
    <result property="birthYear" column="BIRTH_YEAR" />
    <result property="gender" column="GENDER" />
    <result property="age" column="AGE" />
    <result property="phone" column="PHONE" />
    <result property="location" column="LOCATION" />
    <result property="lastReserv" column="LAST_RESERV" />
    <result property="nextReserv" column="NEXT_RESERV" />
    
    <association property="doctor" javaType="Doctor">
        <result property="name" column="D_NAME" />
    </association>
</resultMap>

<select id="list" resultMap="patientMap">
	SELECT P.NO, P.NAME, P.GENDER, P.AGE, p.phone, P.LOCATION, LAST_RESERV, NEXT_RESERV, D.NAME D_NAME FROM PATIENT P INNER JOIN DOCTOR D ON P.DC_NO = D.NO ORDER BY P.NO ASC
</select>

<select id="read" resultMap="patientMap">
	SELECT P.NO, P.NAME, P.GENDER, P.BIRTH_YEAR, P.AGE, p.phone, P.LOCATION, LAST_RESERV, NEXT_RESERV, D.NAME D_NAME FROM PATIENT P INNER JOIN DOCTOR D ON P.DC_NO = D.NO WHERE P.NO = #{no}
</select>

<insert id="create">
	INSERT INTO PATIENT VALUES(PATIENT_SEQ.NEXTVAL, #{name}, #{birthYear}, NULL, 0, #{phone}, #{location}, 
                            null, null, #{doctor.no})
</insert>

<delete id="delete">
	DELETE FROM PATIENT WHERE NO = #{no}
</delete>

<update id="update">
    UPDATE PATIENT 
    SET NAME = #{name},
        PHONE = #{phone},
        LOCATION = #{location},
        DC_NO = #{doctor.no}
    WHERE NO = #{no}
</update>


</mapper>