<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohclinic.mapper.ReservMapper">

	<resultMap type="reserv" id="reservMap">
		<id property="no" column="NO" />
		<result property="pNo" column="P_NO" />
		<result property="dNo" column="D_NO" />
		<result property="nextReserv" column="NEXT_RESERV" />
		<result property="patientName" column="P_NAME" />
		<result property="patientGender" column="P_GENDER" />
		<result property="patientAge" column="P_AGE" />
		<result property="patientPhone" column="P_PHONE" />
		<result property="doctorName" column="D_NAME" />
	</resultMap>
	
	<select id="list" resultMap="reservMap">
		SELECT NO, P_NO, D_NO, P_NAME, P_GENDER, P_AGE, P_PHONE, D_NAME, NEXT_RESERV FROM RESERV WHERE NEXT_RESERV >= SYSDATE ORDER BY NEXT_RESERV ASC
	</select>

	<insert id="create">
    INSERT INTO RESERV (NO, P_NO, D_NO, P_AGE, NEXT_RESERV) 
    VALUES (RESERV_SEQ.NEXTVAL, #{pNo}, #{dNo}, 0, #{nextReserv})
</insert>

</mapper>